<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/header.ejs") %>
    <title>Matkalubi administraator</title>
</head>
<body>
    <div class="container"></div>
    <h1>Matkaklubi administreerimine</h1>
    <div class="row">
        <div class="col-4" id="matkad-menyy">
        </div>
        <div class="col-8" id="matkad-andmed">
        </div>
    </div>
    <script src="/admin.js"></script>
</body>
</html>